<h1>Recettes boeuf</h1>
<div class="container">
  <div class="row">

    <div class="col-md-3 mb-4">
      <%= link_to "/boeuf/rotis", class: "card text-center p-3 h-100" do %>
        <h4>Rôtis</h4>
      <% end %>
    </div>

    <div class="col-md-3 mb-4">
      <%= link_to "/boeuf/sauce", class: "card text-center p-3 h-100" do %>
        <h4>En sauce</h4>
      <% end %>
    </div>

    <div class="col-md-3 mb-4">
      <%= link_to "/boeuf/steaks", class: "card text-center p-3 h-100" do %>
        <h4>Steaks</h4>
      <% end %>
    </div>

    <div class="col-md-3 mb-4">
      <%= link_to "/boeuf/farcis", class: "card text-center p-3 h-100" do %>
        <h4>Farcis</h4>
      <% end %>
    </div>
  </div>
</div>
