<h1>Recettes#desserts</h1>
<div class="container">
  <div class="row">

    <div class="col-md-3 mb-4">
      <%= link_to "/dessert/cremes", class: "card text-center p-3 h-100" do %>
        <h4>Crèmes</h4>
      <% end %>
    </div>

    <div class="col-md-3 mb-4">
      <%= link_to "/dessert/gateaux", class: "card text-center p-3 h-100" do %>
        <h4>Gâteaux</h4>
      <% end %>
    </div>

    <div class="col-md-3 mb-4">
      <%= link_to "/dessert/tartes", class: "card text-center p-3 h-100" do %>
        <h4>Tartes</h4>
      <% end %>
    </div>
  </div>
</div>
