<h1>Recettes#oeufs</h1>
<div class="container">
  <div class="row">

    <div class="col-md-3 mb-4">
      <%= link_to "/oeufs/omelette", class: "card text-center p-3 h-100" do %>
        <h4>Omelette</h4>
      <% end %>
    </div>

    <div class="col-md-3 mb-4">
      <%= link_to "/oeufs/poche", class: "card text-center p-3 h-100" do %>
        <h4>Pochés</h4>
      <% end %>
    </div>

        <div class="col-md-3 mb-4">
      <%= link_to "/oeufs/sauce", class: "card text-center p-3 h-100" do %>
        <h4>En sauce</h4>
      <% end %>
    </div>
  </div>
</div>
