<h1>Recettes#poisson</h1>
<div class="container">
  <div class="row">

    <div class="col-md-3 mb-4">
      <%= link_to "/poisson/rotis", class: "card text-center p-3 h-100" do %>
        <h4>Rôtis</h4>
      <% end %>
    </div>

    <div class="col-md-3 mb-4">
      <%= link_to "/poisson/sauce", class: "card text-center p-3 h-100" do %>
        <h4>En sauce</h4>
      <% end %>
    </div>
  </div>
</div>
