<div class="card mb-4 shadow-sm">
  <%= image_tag "roti_boeuf.jpg", class: "card-img-top", alt: "Rôti de boeuf" %>

  <div class="card-body">
    <h4 class="card-title">Rôti de boeuf</h4>

    <p class="card-text">
      <strong>Temps total :</strong> 35 min <br>
      <strong>Préparation :</strong> 10 min <br>
      <strong>Cuisson :</strong> 25 min – Mode Airfryer
    </p>

    <h6>Préparation</h6>
    <ol>
      <li>Mélangez la moutarde, les herbes de Provence, l'ail en poudre, le sel et le poivre.</li>
      <li>Badigeonnez le rôti de boeuf du mélange.</li>
      <li>Déposez le rôti dans le panier de l’Airfryer et lancez la cuisson (25 min à 200°C).</li>
      <li>5 min avant la fin, retournez-le pour le dorer des deux côtés.</li>
      <li>Laissez reposer, puis coupez en tranches.</li>
    </ol>
  </div>
</div>

